<section class="game-score">
    <div class="container-flag-country">
        <img class="game-score-flag" src="/assets/Netherlands.svg.webp" alt="" width="150px" />
        <p class="game-score-country">Netherlands</p>
    </div>

    <div class="container-score-minutes">
        <h2 class="score-board-score">2-1</h2>
        <p class="score-board-minutes">45'</p>
    </div>

    <div class="container-flag-country">
        <img class="game-score-flag" src="/assets/Portugal.svg.webp" alt="" width="150px" />
        <p class="game-score-country">Portugal</p>
    </div>
</section>