<header>
	<div class="box-shadow-header"></div>
	<img class="logo" src="/assets/logo.png" alt="logo" width="30px" />
	<ul class="ul-game-info">
		<li class="li-game-info">
			<h1>Mixed</h1>
		</li>
		<li class="li-game-info">
			<h1>Grand Final</h1>
		</li>
		<li class="li-game-info">
			<h1>New Street Mega Bowl</h1>
		</li>
		<li class="li-game-info">
			<h1>Azure User Group</h1>
		</li>
		<li class="li-game-info">
			<h1>943</h1>
		</li>
	</ul>
</header>