<header>
	<div class="box-shadow-header"></div>
	<img class="logo" src="/assets/logo.png" alt="logo" width="30px" />
	<div class="header-li-items-container">
		<ul class="ul-game-info">
			<li class="li-game-info">
				<h1>Mixed&nbsp;&nbsp;•</h1>
			</li>
			<li class="li-game-info">
				<h1>Grand Final&nbsp;&nbsp;•</h1>
			</li>
			<li class="li-game-info">
				<h1>New Street Mega Bowl&nbsp;&nbsp;•</h1>
			</li>
			<li class="li-game-info">
				<h1>Azure User Group&nbsp;&nbsp;•</h1>
			</li>
			<li class="li-game-info">
				<h1>943</h1>
			</li>
		</ul>
	</div>
</header>