<!-- Navigation -->
<nav class="navigation">
    <ul class="ul-nav">
        <li class="nav-items score">Score</li>
        <li class="nav-items players">Players</li>
        <li class="nav-items stats disabled">Stats</li>
    </ul>
</nav> 