<!-- Navigation -->
<nav class="navigation">
    <ul class="ul-nav">
        <li class="nav-items">Score</li>
        <li class="nav-items">Players</li>
        <li class="nav-items">Stats</li>
    </ul>
</nav> 