<section class="scoreboard">
  <div class="grid-container">
    <!-- <div class="score-info-container"> -->
      <div class="score-player-card">
        <span class="icon">[-]</span>
        <p class="jerseynumber">2</p>
        <p><%# Player Name %>Peter Pan</p>
      </div>
      <span class="bulletpoint"><%# Score Counter %></span>
      <div class="score-minute-wrapper">
        <div class="score-count"><%# Score Counter %>0 - 1</div>
        <div class="minute-count"><%# Score Counter %>3'</div>
      </div>
      
    <!-- </div> -->
  </div>
</section>
