<section class="scoreboard">
    <div class="ul-container">
        <ul>
            <li>
                <div class="score-info-container">
                    <div class="score-player-card">
                        <span class="icon">[-]</span>
                        <p class="jerseynumber">2</p>
                        <p><%# Player Name %>Peter Pan</p>
                    </div>
                    <span class="bulletpoint"><%# Score Counter %></span>
                    <div class="score-count"><%# Score Counter %>0 - 1</div>
                    <div class="minute-count"><%# Score Counter %>3'</div>
                </div>
            </li>
        </ul> 
    </div>
</section>