<section class="scoreboard nav-blocks">
  <div class="grid-container">
    <!-- <div class="score-info-container"> -->
    <% gameStats.stats[0].point.forEach(score => { %>
        <div class="score-player-card">
            <!-- <span class="icon">[-]</span> -->
            <!-- <p class="jerseynumber">2</p> -->
            <p><%- score.scored.name %> (D)</p>
          </div>
          <span class="bulletpoint"></span>
          <div class="score-minute-wrapper">
            <div class="score-count"><%- score.team1Score %> - <%- score.team2Score %></div>
            <!-- <div class="minute-count">3'</div> -->
          </div>
          
    <% }) %>
      
      
    <!-- </div> -->
  </div>
</section>

