<%- include('./partials/head') %>

<!-- Header -->
<section class="heading"></section>

<main>
	<!-- Navigation -->
	<section class="navigation">
	</section>

	<!-- Players -->
	<section class="players">

		<!-- Team 1 -->
		<div class="team-players">
			<!-- Team name & legend -->
			<div class="players-heading">
				<h2 class="team-name">Team 1</h2>
				<div class="legend">
					<p>G</p>
					<p>A</p>
					<p>B</p>
					<p>T</p>
				</div>
			</div>

			<!-- Player row -->
			<div class="player-card">
				<div class="card-left">
					<p class="player-number">1</p>
					<p class="player-name">John Smith</p>
				</div>
				<div class="card-right">
					<div class="actions">
						<p class="action goal">1</p>
						<p class="action assist">2</p>
						<p class="action block">0</p>
						<p class="action turnover">2</p>
					</div>
				</div>
			</div>

			<!-- Player row -->
			<div class="player-card">
				<div class="card-left">
					<p class="player-number">1</p>
					<p class="player-name">Player 1</p>
				</div>
				<div class="card-right">
					<div class="actions">
						<p class="action goal">1</p>
						<p class="action assist">2</p>
						<p class="action block">0</p>
						<p class="action turnover">2</p>
					</div>
				</div>
			</div>

			<!-- Player row -->
			<div class="player-card">
				<div class="card-left">
					<p class="player-number">1</p>
					<p class="player-name">Player 1</p>
				</div>
				<div class="card-right">
					<div class="actions">
						<p class="action goal">1</p>
						<p class="action assist">2</p>
						<p class="action block">0</p>
						<p class="action turnover">2</p>
					</div>
				</div>
			</div>

			<!-- Player row -->
			<div class="player-card">
				<div class="card-left">
					<p class="player-number">1</p>
					<p class="player-name">Player 1</p>
				</div>
				<div class="card-right">
					<div class="actions">
						<p class="action goal">1</p>
						<p class="action assist">2</p>
						<p class="action block">0</p>
						<p class="action turnover">2</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Team 2 -->
		<div class="team-players">
			<!-- Team name & legend -->
			<div class="players-heading">
				<h2 class="team-name">Team 2</h2>
				<div class="legend">
					<p>G</p>
					<p>A</p>
					<p>B</p>
					<p>T</p>
				</div>
			</div>

			<!-- Player row -->
			<div class="player-card">
				<div class="card-left">
					<p class="player-number">2</p>
					<p class="player-name">Player 2</p>
				</div>
				<div class="card-right">
					<div class="actions">
						<p class="action goal">1</p>
						<p class="action assist">2</p>
						<p class="action block">0</p>
						<p class="action turnover">2</p>
					</div>
				</div>
			</div>

			<!-- Player row -->
			<div class="player-card">
				<div class="card-left">
					<p class="player-number">2</p>
					<p class="player-name">Player 2</p>
				</div>
				<div class="card-right">
					<div class="actions">
						<p class="action goal">1</p>
						<p class="action assist">2</p>
						<p class="action block">0</p>
						<p class="action turnover">2</p>
					</div>
				</div>
			</div>

			<!-- Player row -->
			<div class="player-card">
				<div class="card-left">
					<p class="player-number">2</p>
					<p class="player-name">Player 2</p>
				</div>
				<div class="card-right">
					<div class="actions">
						<p class="action goal">1</p>
						<p class="action assist">2</p>
						<p class="action block">0</p>
						<p class="action turnover">2</p>
					</div>
				</div>
			</div>

			<!-- Player row -->
			<div class="player-card">
				<div class="card-left">
					<p class="player-number">2</p>
					<p class="player-name">Player 2</p>
				</div>
				<div class="card-right">
					<div class="actions">
						<p class="action goal">1</p>
						<p class="action assist">2</p>
						<p class="action block">0</p>
						<p class="action turnover">2</p>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!-- Scoreboard -->
  <section class="scoreboard">
    <ul>
      <li>
				<div class="minute-count"><%# Score Counter %></div>
				<div class="score-count"><%# Score Counter %></div>
				<span class="bulletpoint"><%# Score Counter %></span>
				<div class="score-player-card">
					<span class="icon"></span>
					<h3><%# Player Name %></h3>
				</div>
			</li>
    </ul>
  </section>

  <!-- Players -->
  <section class="players"></section>
</main>

<%- include('./partials/footer') %>
