<!-- Team 1 -->
	<section class="team-players team-one-players">
		<!-- Team name & legend -->
		<div class="players-heading">
			<h2 class="team-name">Team 1</h2>
			<div class="legend">
				<p>G</p>
				<p>A</p>
				<p>B</p>
				<p>T</p>
			</div>
		</div>

		<% for( let index = 1; index < 26; index++ ) { %>
		<!-- Player row -->
		<div class="player-card">
			<div class="card-left">
				<p class="player-number"><%- index %></p>
				<p class="player-name">John Smith</p>
			</div>
			<div class="card-right">
				<div class="actions">
					<p class="action goal">1</p>
					<p class="action assist">2</p>
					<p class="action block">0</p>
					<p class="action turnover">2</p>
				</div>
			</div>
		</div>
		<% } %>
	</section>