<form action="/playerform" method="post" name="addPlayerForm">

    <label>
        Name
        <input type="text" name="name" value="">
    </label>

    <label>
        Jersey number
        <input type="int" name="jerseyNumber" value="">
    </label>

    <label>
        Gender
        <input type="radio" name="gender" value="">
    </label>

    <label>
        Height
        <input type="int" name="height" value="">
    </label>

    <label>
        Pronounced
        <input type="text" name="pronounced" value="">
    </label>

    <label>
        Pronouns
        <input type="text" name="pronouns" value="">
    </label>

    <label>
        Team
        <input type="text" name="team" value="">
    </label>

    <input type="submit" value="Submit">
</form>