<form action="/questionform" method="post" name="addQuestionForm">

    <label>
        Question Title
        <input type="text" name="title" value="">
    </label>

    <label>
        Player
        <input type="radio" name="type" value="Player">
    </label>
    <label>
        Team
        <input type="radio" name="type" value="Team">
    </label>
        
    

    <!-- Connect a teamID or PlayerID to the question -->
    <input type="submit" value="Submit">
</form>