<form action="/questionsform" method="post" name="addQuestionForm">

    <label>
        Question Title
        <input type="text" name="question" value="">
    </label>

    <label>
        Answer
        <input type="text" name="answer" value="">
    </label>

    <!-- Connect a teamID or PlayerID to the question -->
    <input type="submit" value="Submit">
</form>